# /etc/systemd/system/docker-ssr-kcp-lite@8300.service
#  This file is example of Container of SSR-KCP-SERVER-LITE.

[Unit]
Description=Container of SSR-KCP-SERVER-LITE
After=docker.service

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker kill SSR-LITE-%i
# ExecStartPre=/usr/bin/docker pull chenhw2/ssr-kcp-server-lite
ExecStart=/usr/bin/docker run --rm --name SSR-LITE-%i -e 'SSR=ssr://origin:aes-256-cfb:plain:12345678' -p %i:8388/tcp -p %i:8388/udp -p 1%i:18388/udp chenhw2/ssr-kcp-server-lite
ExecStop=-/usr/bin/docker kill SSR-LITE-%i

[Install]
WantedBy=multi-user.target
